.tasks-panel {
    position: relative;
}

.tasks-panel::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-image: url(/assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tasks-panel__content {
    background: #0000001F;
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    border-radius: 30px 30px 0 0;
    min-height: calc(100dvh - 245px);
    margin-top: auto;
}

.task-switcher {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #0000001F;
    border-radius: 21px;
    height: 42px;
    align-items: center;
}

.task-switcher__button {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 21px;
    transition: .3s;
    color: #fff;
    font-size: 15px;
    font-family: OpinionPro;
    font-weight: 600;
}


.task-switcher__button_active {
    border: 1px solid #FFFFFF61;
    background-image: var(--yellow-gradient);
    color: #6E000C;
    box-shadow: 6.83px -2.73px 15.57px 0px rgba(255, 255, 255, .1) inset, 0px 5.46px 31.96px 0px #FFC30B8F,
        0px 5.46px 53.12px 0px #FFC30B87;
}

.tasks-items {
    padding-bottom: 90px;
}

.tasks-items .tasks-item:not(:last-child) {
    margin-bottom: 12px;
}

.tasks-item {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    height: 100px;
    background-image: url(../../assets/img/task-bg.png);
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: calc(100% - 40px) 100%;
    /* padding-left: 15px; */
}

.tasks-item__image {
    transform: translateY(-13px);
}

.tasks-item__button {
    width: 120px;
}

.tasks-item_completed {
    background-image: url(../../assets/img/task-bg-done.png);
    position: relative;
}

.tasks-item_completed:before {
    content: '';
    position: absolute;
    left: 190px;
    bottom: 30px;
    width: 50px;
    height: 30px;
    background-image: url(../../assets/img/task-check-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.task-ball {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    justify-content: space-between;
    background: #00000012;
    border-radius: 22px;
    justify-content: space-between;
    gap: 10px;
}

.task-ball span {
    height: 30px;
    background-color: #00000012;
    border-radius: 15px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.tasks-balls {
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
}

.task-ball__text {
    text-transform: uppercase;
    margin-right: auto;
}

.tasks-balls__button {
    height: 55px;
    color: #003137;
    border: 1px dashed #0031373D;
}

.friends {
    margin: auto;
}

.big-counter {
    background-image: url(/assets/img/big-counter-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    width: 175px;
    height: 94px;
    border-radius: 47px;
    background-color: #FFC30B12;
    border: 2px solid #FFC30B61;
    box-shadow: 11.08px -4.43px 25.25px 0px rgba(255, 255, 255, .1) inset, 0px 8.86px 51.84px 0px #EA03008F, 0px 8.86px 86.17px 0px #EA030087;
    padding-left: 40px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #FFC30B;
    font-weight: 700;
    font-family: OpinionPro;
    margin: 0 auto;
    line-height: 1;
}

.friends-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.friends-list__item {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    background-color: #00000012;
    padding: 0 15px;
    gap: 10px;
}

.friends-list__item span {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 65px;
    border-radius: 15px;
    background: #00000012;
    font-size: 12px;
    margin-left: auto;
}

.friends-list__item-photo {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (min-width: 600px) {}