.tasks-panel {
    position: relative;
}

.tasks-panel::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-image: url(../../assets/img/main-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #E4ECE3;
}

.tasks-panel__content {
    background: #E4ECE3;
    border-radius: 30px 30px 0 0;
    padding: 0px 0 30px;
    min-height: calc(100dvh - 200px);
}

.tasks-panel__content > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - 200px);
}

.task-switcher {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #3950250F;
    border-radius: 27px;
    height: 55px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.task-switcher__button {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    opacity: .3;
    text-transform: uppercase;
    grid-gap: 7px;
    border-radius: 20px;
    transition: .3s;
}

.task-switcher__button>span {
    font-weight: 700;
    color: #003137;
    font-size: 14px;
}

.task-switcher__button i {
    font-size: 12px;
    font-style: normal;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #003137;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #D5EBBC;
}

.task-switcher__button_active {
    opacity: 1;
    background-color: #D5EBBC;
    border: 1px solid #003137;
    box-shadow: 0 4px 0 #003137;
    transform: translateY(-2px);
}

.tasks-items {
    padding-bottom: 90px;
}

.tasks-items .tasks-item:not(:last-child) {
    margin-bottom: 12px;
}

.tasks-item {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    height: 100px;
    background-image: url(../../assets/img/task-bg.png);
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: calc(100% - 40px) 100%;
    /* padding-left: 15px; */
}

.tasks-item__image {
    transform: translateY(-13px);
}

.tasks-item__button {
    width: 120px;
}

.tasks-item_checked {
    background-image: url(../../assets/img/task-bg-done.png);
    position: relative;
}

.tasks-item_checked:before {
    content: '';
    position: absolute;
    left: 190px;
    bottom: 30px;
    width: 50px;
    height: 30px;
    background-image: url(../../assets/img/task-check-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.task-ticket {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 0 18px;
    justify-content: space-between;
    background: #FFFFFFB0;
    border-radius: 15px;
    grid-gap: 15px;
}

.tasks-tickets {
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
}

.task-ticket__text {
    text-transform: uppercase;
    margin-right: auto;
}

.tasks-tickets__button {
    height: 55px;
    color: #003137;
    border: 1px dashed #0031373D;
}

.friends {
    margin: auto;
}

.friends-list {
    margin-left: -12px;
    width: calc(100% + 24px);
    background: #FFFFFFCC;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
    margin-bottom: -40px;
}

.friends-list__item {
    display: flex;
    align-items: center;
    height: 54px;
    background: #E6EDE078;
    border-radius: 27px;
    padding: 0 15px;
    grid-gap: 10px;
}

.friends-list__name {
    /* margin-left: 12px; */
    margin-right: auto;
}

@media screen and (min-width: 600px) {
    .tasks-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 10px;
    }

    .tasks-item {
        height: 110px;
    }

    .tasks-items .tasks-item:not(:last-child) {
        margin-bottom: 0;
    }
}