.game-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.game-panel::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-image: url(/assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.game-start-panel__content {
    background: #0000001F;
    border-radius: 30px 30px 0 0;
    padding: 0px 0 30px;
    min-height: calc(100dvh - 100px);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.game-start-panel__content_platform_ios {
    margin-bottom: -45px;
    padding-bottom: 45px;
}

.mail-game {
    height: calc(100dvh - 120px);
    position: relative;
    background-image: url(/assets/img/tasks/task1/envelope.svg);
    background-repeat: no-repeat;
    background-position: center calc(100% + 50px);
    background-size: 350px;
    margin-top: auto;
}

.letter {
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: #FCF4E6;
    border-radius: 20px 20px 0 0;
    height: calc(100% - 195px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 25px;
    padding: 30px 10px 0;
}

.letter:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 0;
    height: 0;
    border: 160px solid transparent;
    border-top: 110px solid #FCF4E6;
}

.custom-select {
    position: relative;
}

.custom-select__main-value {
    width: 100%;
    height: 55px;
    border-radius: 28px;
    background: #EADFCB;
    border: 1px solid #0000000F;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-select__main-value:after {
    content: '';
    width: 21px;
    height: 21px;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    margin: auto;
    background-image: url(/assets/img/select-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0px 4px 23.4px #EA03008F) drop-shadow(0px 4px 38.9px #EA030087);

}

.custom-select__dropdown {
    position: absolute;
    left: 0;
    top: calc(100%);
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 4px 29.9px 0px #00000069;
    padding: 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 3;
}

.custom-select__button {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #FCF4E6;
    width: 100%;
}

.custom-select__button_active {
    background-image: var(--red-gradient);
    box-shadow: 0px 4px 23.4px 0px #EA03008F, 0px 4px 38.9px 0px #EA030087;
}

.text-input {
    width: 100%;
    height: 55px;
    border-radius: 28px;
    background: #EADFCB;
    border: 1px solid #0000000F;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    font-family: OpinionPro;
}

.text-input::placeholder {
    color: rgba(0, 0, 0, .3);
}

.letter__submit {
    margin: auto;
    z-index: 2;
    width: 330px;
}

.letter__submit:disabled {
    opacity: 1;
    box-shadow: none;
}

.letter__submit:disabled span {
    color: #C56708;
}

.mail-sending {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.mail-sending__pic {
    animation: floating 2s infinite;
}

@keyframes floating {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.mail-sent__pic {
    animation: floating 3s ease-in-out infinite;
    margin: auto;
}

.mail-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    min-height: calc(100dvh - 100px);
    justify-content: space-between;
    padding-bottom: 40px;
    padding-left: 26px;
    padding-right: 26px;
}

.motion-wrapper{
    min-height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
}

.letter__result{
    line-height: 1.2;
}