.onboarding-page {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
}

.onboarding-page::before {
    content: '';
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(/assets/img/onboarding-bells.png), url(/assets/img/onboarding-bg.png), url(/assets/img/main-bg.jpg);
    background-size: 100% auto, cover, cover;
    background-position: center 15%, center, center;
    background-repeat: no-repeat;
}

.onboarding-content-wrapper {
    width: calc(100% - 30px);
    background: url(/assets/img/progressbar-bg.jpg), var(--yellow-gradient);
    border-radius: 60px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    margin-top: auto;
    margin-bottom: 5dvh;
    box-shadow: 0px 4px 75.2px 0px #00000040;
    max-width: 530px;
}

.onboarding-content {
    padding: 30px 20px 20px;
    background-color: var(--white);
    border-radius: 55px;
}