.main-panel {
    position: relative;
}

.main-panel::before {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(/assets/img/main-bg.jpg);
    background-size: cover;
    background-position: center 0, center 100%;
    background-repeat: no-repeat;
}

.main-panel__counter {
    display: flex;
    align-items: center;
}

.main-panel__counter {
    display: flex;
    align-items: center;
    margin: auto;
    width: max-content;
    gap: 5px;
}

.tasks-item {
    display: flex;
    padding: 4px;
    height: 104px;
    border-radius: 52px;
    background-image: url(/assets/img/progressbar-bg.jpg);
    background-size: contain;
    box-shadow: 0px 4px 75.2px 0px #00000040;
}

.tasks-item__content {
    background-color: #fff;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.tasks-item__image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: url(/assets/img/tasks/child-icon-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-shrink: 0;
}

.tasks-item__image img {
    max-width: 90%;
    height: auto;
}

.tasks-item__image_type_parent {
    background-image: url(/assets/img/tasks/parent-icon-bg.png);
}

.tasks-item__char {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px 0 4px;
    height: 32px;
    background-image: var(--yellow-gradient);
    border-radius: 16px;
    border: 1.37px solid #FFFFFF61;
    box-shadow: 6.83px -2.73px 15.57px 0px #FFFFFF33 inset, 0px 5.46px 31.96px 0px #FFC30B8F, 0px 5.46px 53.12px 0px #FFC30B87;
}

.tasks-item__char_type_parent {
    background-image: var(--red-gradient);
    box-shadow: 6.83px -2.73px 15.57px 0px #FFFFFF33 inset, 0px 5.46px 31.96px 0px #EA03008F, 0px 5.46px 53.12px 0px #EA030087;
}


.tasks-item__char img {
    /* margin-top: -5px; */
    margin-top: -2px;
}


.tasks-item__char_type_parent img{
    margin-top: 0;
}

.tasks-item__button {
    width: 115px;
    height: 52px;
}

.tasks-item__info {
    margin-left: 10px;
    margin-right: auto;
    height: 65px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-page-banner {
    background:  #FFC30B;
    background-size: 400px;
    border-radius: 30px 30px 0 0;
    padding: 30px;
}

.tasks-item__closed{
    min-height: 52px;
    padding: 0 15px;
    /* width: 180px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCF0D1;
    border-radius: 26px;
    width: 100%;
    max-width: 180px;
}

.tasks-item__done {
    height: 52px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCF0D1;
    border-radius: 26px;
    padding: 0 20px;
    font-size: 14px;
    font-family: OpinionPro;
    text-transform: uppercase;
    color: #6E000C;
}

.tasks-item__timer-wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

.tasks-item__timer-text{
    opacity: .6;
    white-space: nowrap;
}

.tasks-item__timer{
    white-space: nowrap;
}

.tasks-done{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 600px) {
    .tasks-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .tasks-item__content{
        flex-direction: column;
        padding: 20px 25px;
    }

    .tasks-item{
        height: auto;
    }

    .tasks-item__info{
        align-items: center;
        width: 100%;
        margin-left: 0;
        margin-top: -15px;
        z-index: 2;
        position: relative;
        gap: 13px;
        margin-bottom: 10px;
    }

    .tasks-item__title{
        text-align: center;
    }
}