.text {
    font-family: Montserrat
}

.color_type_black {
    color: #000000;
}

.color_type_white {
    color: #fff;
}

.color_type_gray {
    color: #ffffffb3;
}

.color_type_yellow {
    color: #FFC30B;
}

.size_type_small {
    font-size: 12px;
    line-height: 1.3;
}

.size_type_normal {
    font-size: 14px;
    line-height: 1.3;
}

.align_type_center {
    text-align: center;
}

.align_type_left {
    text-align: left;
}

.align_type_right {
    text-align: right;
}