.game-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.game-panel::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-image: url(/assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.game-start-panel__content {
    background: #0000001F;
    border-radius: 30px 30px 0 0;
    padding: 0px 0 30px;
    min-height: calc(100dvh - 100px);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    overflow: hidden;
}

.game-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
}

.game-area__pic1 {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    background-image: url(/assets/img/tasks/task6/game-pic1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

.game-area__pic2 {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    background-image: url(/assets/img/tasks/task6/game-pic2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.game-area__item {
    position: absolute;
    width: 5%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url(/assets/img/tasks/task-done-pic.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0;
    transition: .3s;
}

.game-area__item_order_1 {
    left: 3.5%;
    bottom: 3%;
}

.game-area__item_order_2 {
    left: 34%;
    top: 42%;
}

.game-area__item_order_3 {
    left: 36.5%;
    top: 52%;
}

.game-area__item_order_4 {
    right: 32%;
    top: 40%;
}

.game-area__item_order_5 {
    right: 13%;
    bottom: 10%;
}

.game-area__item_active {
    opacity: 1;
}

.game-area__counter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    font-family: OpinionPro;
    color: #fff;
    width: 90px;
    height: 45px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    background: linear-gradient(180deg, #EA0300 0%, #840715 100%);
    box-shadow: 0px 4px 23.4px 0px #EA03008F, 0px 4px 38.9px 0px #EA030087;
    z-index: 2;
}