.game-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.game-panel::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-image: url(/assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.game-start-panel__content {
    background: #0000001F;
    border-radius: 30px 30px 0 0;
    /* padding: 0px 0 30px; */
    min-height: calc(100dvh - 100px);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 100px; */
    overflow: hidden;
}

.tips-slider {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tips-slider :global(.swiper) {
    overflow: visible;
    width: 660px;
}

.tips-slide {
    width: 100%;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: var(--yellow-gradient);
    box-shadow: 0px 5.46px 31.96px 0px #FFC30B8F, 0px 5.46px 53.12px 0px #FFC30B87;
    border: 1.37px solid #FFFFFF61;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

.tips-slide__pic {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

.tips-slide__meat{
    width: 170px;
}

.tips-slider__swiper :global(.swiper-slide) {
    width: 200px;
}

.tips-slider__swiper :global(.swiper-slide-prev) .tips-slide {
    transform: rotate(-7deg) translateY(60px);
    opacity: .6;
}

.tips-slider__swiper :global(.swiper-slide-next) .tips-slide {
    transform: rotate(7deg) translateY(60px);
    opacity: .6;
}

.tips-slider__swiper :global(.swiper-slide-next)+:global(.swiper-slide) .tips-slide {
    transform: rotate(7deg) translateY(60px);
    opacity: .6;
}

.tips-slide__title{
    font-size: 20px;
}

.advice-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
}

.advice-block__pic{
    border-radius: 10px;
}

.motion-wrapper{
    min-height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
}