.game-failed{
    width: 100%;
    height: calc(100dvh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    justify-content: center;
}

.game-failed__ticket{
    margin-top: auto;
}

.game-failed__button{
    margin-top: auto;
}