.title {
    /* line-height: 1.3; */
    line-height: 1;
    text-transform: uppercase;
    font-family: OpinionPro;
}

.color_type_red {
    color: #E10120;
}

.color_type_black {
    color: #000000;
}

.color_type_black :global(a) {
    color: #000000;
}

.color_type_white {
    color: #fff;
}

.color_type_white :global(a) {
    color: #fff;
}

.color_type_yellow {
    color: #FFC30B;
}

.color_type_red-black{
    color: #6E000C;
}

.color_type_grey{
    color: rgba(0, 0, 0, .3);

}

.size_type_xs {
    font-size: 12px;
}

.size_type_small {
    font-size: 16px;
}

.size_type_normal {
    font-size: 24px;
}

.size_type_medium {
    font-size: 18px;
}

.size_type_big {
    font-size: 32px;
}

.size_type_xl {
    font-size: 40px;
}

.align_type_center {
    text-align: center;
}

.align_type_left {
    text-align: left;
}

.align_type_right {
    text-align: right;
}