
.hero-img-wrapper {
    width: 145px;
    height: 145px;
    position: relative;
    border-radius: 50%;
    background-image: var(--yellow-gradient);
    display: flex;
    background-position: center;
    box-shadow: 0px 5.46px 31.96px 0px #FFC30B8F, 0px 5.46px 53.12px 0px #FFC30B87, 6.83px -2.73px 15.57px 0px rgba(255, 255, 255, .05) inset;
    border: 1px solid #FFFFFF61;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
}

.hero-img-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: var(--red-gradient);
    width: 115px;
    height: 115px;
    border-radius: 50%;
    z-index: 1;
    border: 0.88px solid #FFFFFF61;
    box-shadow: 0px 5.33px 31.2px 0px #EA03008F, 0px 5.33px 51.87px 0px #EA030087;
}

.hero-img-wrapper__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px;
    margin: auto;
    width: 115px;
    height: auto;
    z-index: 2;
}

.modal :global(.vkuiModalCardBase__container){
    background-image: url(/public/assets/img/progressbar-bg.jpg);
    background-size: 150px;
    border-radius: 60px;
    padding: 4px;
}

.modal__content{
    background-color: #fff;
    border-radius: 55px;
    padding: 16px;
    padding-top: calc(var(--vkui_internal--dismiss_icon_height) + var(--vkui_internal--dismiss_icon_padding) + var(--vkui_internal--dismiss_icon_safe_offset));
}

.modal :global(.vkuiModalCardBase__dismiss){
    top: 12px;
    right: 16px;
}


.modal__image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-image: url(../../../public/assets/img/tasks/child-icon-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal__image_type_parent {
    background-image: url(../../../public/assets/img/tasks/parent-icon-bg.png);
}

.modal__character {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px 0 5px;
    height: 32px;
    background-image: var(--yellow-gradient);
    border-radius: 16px;
    border: 1.37px solid #FFFFFF61;
    box-shadow: 6.83px -2.73px 15.57px 0px #FFFFFF33 inset, 0px 5.46px 31.96px 0px #FFC30B8F, 0px 5.46px 53.12px 0px #FFC30B87;
}

.modal__character_type_parent{
    left: -10px;
}

.modal__character img {
    margin-top: -5px;
}

.modal__image-wrapper {
    width: max-content;
    position: relative;
    z-index: 2;
    margin: auto;
    margin-top: -80px;
}

.modal__image-wrapper::before {
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #FFC30B2E;
    left: -7px;
    top: -7px;
}

.modal__image-wrapper::after {
    content: '';
    position: absolute;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background-color: #FFC30B2E;
    left: -15px;
    top: -15px;
}