.prizes-panel::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-image: url(/assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.prizes-panel__content {
    background: #0000001F;
    border-radius: 30px 30px 0 0;
    padding: 0px 0 30px;
    min-height: calc(100dvh - 200px);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.prizes-panel__banner-pic {
    margin-top: -260px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.prizes-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.prizes-info__item {
    background: #00000012;
    padding: 15px 10px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.prizes-info__number {
    width: 35px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6E000C;
    font-size: 20px;
    font-weight: 600;
    border-radius: 21px;
    background-image: var(--yellow-gradient);
    flex-shrink: 0;
    box-shadow: 0px 5.46px 31.96px 0px #FFC30B8F, 0px 5.46px 53.12px 0px #FFC30B87, 6.83px -2.73px 15.57px 0px rgba(255, 255, 255, .1) inset;
}

.prizes-slider :global(.swiper-slide) {
    width: 200px;
}

.prizes-slider :global(.swiper) {
    overflow: visible;
}

.prizes-slider {
    position: relative;
}

.prizes-slider__prev,
.prizes-slider__next {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background:
        linear-gradient(180deg, #FFC30B 0%, #FF9500 100%);
    border: 1.37px solid #FFFFFF61;
    box-shadow: 0px 5.46px 31.96px 0px #FFC30B8F, 0px 5.46px 53.12px 0px #FFC30B87;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.prizes-slider__prev:hover,
.prizes-slider__next:hover {
    box-shadow: 0px 5.46px 31.96px 0px #FFC30B, 0px 5.46px 53.12px 0px #FFC30B;
}

.prizes-slider__prev {
    left: 10px;
    top: 100px;
    margin: auto;
}

.prizes-slider__next {
    right: 10px;
    top: 100px;
    margin: auto;
    transform: rotate(180deg);
}

.prizes-slide {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
    border: 2.22px solid #FFC30B61;
    background: #FFC30B12;
    box-shadow: 11.08px -4.43px 10.25px 0px rgba(255, 255, 255, .1) inset, 0px 8.86px 15.84px 0px #EA03008F,
        0px 8.86px 20.17px 0px #EA030087;
    border-radius: 30px;
    margin-bottom: 60px;
}

.prizes-slide__img-wrapper {
    position: relative;
}

.prizes-slide__img-wrapper:after {
    content: '';
    position: absolute;
    width: 180px;
    height: 120px;
    background-image: url(/assets/img/prize-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -15px;
    top: 0;
    right: 0;
    margin: auto;
    filter: drop-shadow(0px 5.46px 5.96px #FFC30B8F) drop-shadow(0px 5.46px 10.12px #FFC30B87);

}

.prizes-slide__img {
    position: relative;
    z-index: 2;
    object-fit: contain;
    object-position: center;
}

.prizes-panel-items {
    overflow: hidden;
    background-size: cover;
    background-image: url(/assets/img/main-bg.jpg);
    border-radius: 30px 30px 0 0;
    padding-top: 35px;
}



.faq-list .faq-item:not(:last-child) {
    margin-bottom: 10px;
}

.faq-item {
    border: 1px solid #FFFFFF42;
    background: #FFFFFF12;
    border-radius: 20px;
}

.faq-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 1px solid #FFFFFF42; */
    padding: 0 25px;
    grid-gap: 10px;
    height: 52px;
    /* background: #FFFFFF12; */
    /* border: 1px solid #E7E7E7;
    padding: 15px;
    border-radius: 10px; */
    text-transform: uppercase;
}

.faq-item__header .faq-item__icon {
    transform: rotate(90deg);
}

.faq-item__header_active .faq-item__icon {
    transform: rotate(-90deg);
}

.faq-item__header_active {
    border-bottom: 1px solid #FFFFFF42;
}

.faq-item__content {
    border-top: none;
    padding: 25px 25px 20px;
    border-radius: 0 0 20px 20px;
    /* margin-top: -10px; */
}

.faq-block {
    border-radius: 30px 30px 0 0;
    background-image: linear-gradient(#AC0B0B, #76070F);
    margin-top: -30px;
    position: relative;
    z-index: 2;
}

.prizes-panel__rules {}

.prizes-panel__rules {
    display: flex;
    align-items: center;
    border: 1px dashed #FFFFFF42;
    background: #7E070A;
    border-radius: 20px;
    height: 52px;
    justify-content: space-between;
    padding: 0 25px;
    text-transform: uppercase;
}

.main-page-banner {
    background: #FFC30B;
    background-size: 400px;
    border-radius: 30px 30px 0 0;
    margin-top: -80px;
    margin-bottom: -40px;
    position: relative;
    z-index: 2;
}

.main-page-content__text {
    padding: 30px;
}

.prizes-info__text {
    font-size: 14px;
    max-width: 400px;
}

.prizes-info__text a{
    color: #FFC30B;
    text-decoration: underline;
}