.about-panel {
    position: relative;
}

.about-panel::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-image: url(../../../public/assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-panel-banner {
    display: flex;
    width: max-content;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
}

.about-panel-description {
    padding-left: 32px;
    padding-right: 32px;
}

.about-panel-chars {
    border-radius: 30px 30px 0 0;
    background-image: linear-gradient(#AC0B0B, #76070F);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.chars-slider :global(.swiper-slide) {
    width: 200px;
}

.chars-slider :global(.swiper) {
    overflow: visible;
}

.chars-slide {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2.22px solid #FFC30B61;
    background: #FFC30B12;
    box-shadow: 11.08px -4.43px 25.25px 0px rgba(255, 255, 255, .1) inset, 0px 8.86px 51.84px 0px #EA03008F,
        0px 8.86px 86.17px 0px #EA030087;
    border-radius: 30px;
    margin-bottom: 60px;
}

.chars-slide__img-wrapper {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background-image: var(--yellow-gradient);
    display: flex;
    background-position: center;
    box-shadow: 0px 5.46px 31.96px 0px #FFC30B8F, 0px 5.46px 53.12px 0px #FFC30B87, 6.83px -2.73px 15.57px 0px rgba(255, 255, 255, .05) inset;
    border: 1px solid #FFFFFF61;
}

.chars-slide__img-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: var(--red-gradient);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: 1;
    border: 0.88px solid #FFFFFF61;
}

.chars-slide__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px;
    margin: auto;
    width: 75px;
    height: auto;
    z-index: 2;
}

.chars-slide__actor {
    margin-bottom: auto;
    color: rgba(255, 255, 255, 0.6);
}

.about-panel-gallery {
    background-size: cover;
    background-image: url(../../../public/assets/img/main-bg.jpg);
    border-radius: 30px 30px 0 0;
    padding-top: 35px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    padding-bottom: 100px;
}

.gallery-slider {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.gallery-slider :global(.swiper) {
    border-radius: 15px;
    border: 1px solid #FFC30B;
}

.gallery-slider__prev,
.gallery-slider__next {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background:
        linear-gradient(180deg, #FFC30B 0%, #FF9500 100%);
    border: 1.37px solid #FFFFFF61;
    box-shadow: 0px 5.46px 31.96px 0px #FFC30B8F, 0px 5.46px 53.12px 0px #FFC30B87;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-slider__prev {
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.gallery-slider__next {
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(180deg);
}

.gallery-photo {}

.gallery-photo__img {
    display: flex;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .gallery-slider__prev {
        left: -80px;
    }

    .gallery-slider__next {
        right: -80px;
    }
}