.loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-page::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100dvh + 2px);
    width: 100%;
    box-sizing: border-box;
    background-image: url(/assets/img/loading-title.svg), url(../../assets/img/loading-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center 10dvh, center 100%;
    background-size: 350px, calc(100% + 15px);
}


@media screen and (min-width: 600px) {
    .loading-page::before {
        background-image: url(/assets/img/loading-title.svg), url(../../assets/img/loading-bg.jpg);
        background-size: 350px, calc(100% + 60px);
    }
}