@font-face {
  font-family: "OpinionPro";
  src: url("/assets/fonts/OpinionPro-Bold/OpinionPro-Bold.eot");
  src: url("/assets/fonts/OpinionPro-Bold/OpinionPro-Bold.eot?#iefix")format("embedded-opentype"),
    url("/assets/fonts/OpinionPro-Bold/OpinionPro-Bold.woff")format("woff"),
    url("/assets/fonts/OpinionPro-Bold/OpinionPro-Bold.woff2")format("woff2"),
    url("/assets/fonts/OpinionPro-Bold/OpinionPro-Bold.ttf")format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular/Montserrat-Regular.eot");
  src: url("/assets/fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix")format("embedded-opentype"),
    url("/assets/fonts/Montserrat-Regular/Montserrat-Regular.woff")format("woff"),
    url("/assets/fonts/Montserrat-Regular/Montserrat-Regular.woff2")format("woff2"),
    url("/assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf")format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Bold/Montserrat-Bold.eot");
  src: url("/assets/fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix")format("embedded-opentype"),
    url("/assets/fonts/Montserrat-Bold/Montserrat-Bold.woff")format("woff"),
    url("/assets/fonts/Montserrat-Bold/Montserrat-Bold.woff2")format("woff2"),
    url("/assets/fonts/Montserrat-Bold/Montserrat-Bold.ttf")format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


ul,
ol,
p,
div,
label,
h1,
h2,
h3 {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
button span {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

a,
a:hover {
  text-decoration: none;
}

:root {
  --white: #ffffff;
  --red-gradient: linear-gradient(180deg, #EA0300 0%, #840715 100%);
  --yellow-gradient: linear-gradient(180deg, #FFC30B 0%, #FF9500 100%);
  --vkui_internal--panel_header_height: 100px
}

.vkuiModalPage__children {
  background-color: #EBF1F8;
}

.vkuiPanelHeader__ios .vkuiPanelHeader__before {
  padding: 4px 0 4px 14px;
}

.vkuiPanelHeader__ios .vkuiPanelHeader__after {
  padding: 4px 14px 4px 0;
}

.vkuiPanelHeader__android .vkuiPanelHeader__before:not(:empty),
.vkuiPanelHeader__vkcom .vkuiPanelHeader__before:not(:empty) {
  padding: 4px 0 4px 14px;
}

.vkuiPanelHeader__android .vkuiPanelHeader__after:not(:empty),
.vkuiPanelHeader__vkcom .vkuiPanelHeader__after:not(:empty) {
  padding: 4px 14px 4px 0;
}

@media screen and (min-width: 600px) {
  .vkuiModalCard__hostMobile {
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* scrollbar */
.map__scrollbar {
  background: linear-gradient(180deg, #FFC30B 0%, #FF9500 100%);
  border: 1px solid #FFFFFF61;
  box-shadow: 0px 4px 23.4px 0px #FF80028F, 5px -2px 4px 0px #FFFFFF3D inset, 0px 4px 38.9px 0px #FFDB0C87;
  height: 10px;
  /* width: 50px !important; */
  border-radius: 5px;
}

.map__track {
  /* position: absolute; */
  /* height: 10px; */
  background: #FFFFFF0D;
  width: 290px;
  border-radius: 5px;
  backdrop-filter: blur(8px);
  /* -webkit-backdrop-filter: blur(8px); */
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  border: 1px solid #FFFFFF42;
}